:root{
  --padding-container: 3% 5%; 
}

body{
  min-height: 100vh;
  background-image: linear-gradient(to bottom left, grey, white);
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  padding: var(--padding-container);
  text-align: center;
}

main{
  padding: var(--padding-container);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input#calcScreen{
  width: 790px;
  height: 150px;
}

main .calcButtons{
  display: grid;
  width: 800px;
  height: 400px;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 2px;
}

.clear{
  grid-column: 1 / span 2;
}

.equal{
  grid-column: 3 / span 2;
}